* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geneva";
}

body,
#app {
  background-color: #f7f7f7;
  height: 100vh;
}

.form-transition {
  transition: all 0.1s 0.3s !important;
}
